html, body, form, nav, ul {
  display: block;
  margin: 0;
  padding: 0;
}

/* Navigation */
.bar {
    border: #BFB8AF;
	background: #BFB8AF;
    border-style: solid;
	margin: 0 0 0 0; 
	height: auto;
	display: block;
    overflow: hidden;
}	

.bar ul {
	list-style-type: none;
	font-family: 'iowan', serif;
	width: 90%;
	margin: 0 auto;
}

.bar ul li {
	display: inline-block;
	float: left;
}

.bar ul li a {
	padding: 10px 50px;
	font-size: 24px;
	display: block;
}

/* Links */
.bar ul li a:link {
	color: #000000;
}

.bar ul li a:visited {
	color: #000000;
}

.bar ul li a:hover {
	color: #ffffff;
	text-decoration: none;
}

.bar ul li a:active {
	color: #000000;
}

/* Image Links */
.imagelink {
	margin: 0 0 0 0; 
	height: auto;
	display: block;
    overflow: hidden;
}	

.imagelink ul {
	list-style-type: none;
	font-family: 'iowan', serif;
	width: 90%;
	margin: 0 auto;
}

.imagelink ul li {
	display: inline-block;
	float: left;
}

.imagelink ul li a {
	padding: 10px 10px;
	font-size: 24px;
	display: block;
}

/* Links */
.imagelink ul li a:link {
	color: #000000;
}

.imagelink ul li a:visited {
	color: #000000;
}

.imagelink ul li a:hover {
	background-color: #354b5c;
	text-decoration: none;
	border-radius: 20px;
}

.imagelink ul li a:active {
	color: #000000;
}




.wvu-header-mobile-list a:hover {
	color:#ffffff;
}

/* WV Day Body */
.mainbody { 
	background-color: #333F48;
	background-image: url("../images/sidebar.png"); 	
	background-repeat: repeat-y;
	background-attachment: fixed;
 	background-position: ;
	padding: 0 0 0 0;  
	margin: 0; 
	position: relative;
	font: 22px "Trebuchet MS", Helvetica, sans-serif;
	color: white;
	height: auto;
	border: 0;
	}

h1 {
    text-shadow: 2px 2px #000000;
	height: 25px;
}	

/* Message Body */

.message {
	float: left;
	padding: 0 50px 0 50px;
	width:100%;
	text-align: left;
	border: 0;
}

.picture {
	float: right;
	padding: 0 0 0 20px;
}

.story {
	font-size: 20px;
	text-align: left;
}

/* Header Line */	
.titleline {
    border: #EAAA00;
    border-style: solid;
}   

/* Forms Layout */
.form {
	float: left;
	width: 100%;
	text-align: left;
	border: 0;
	padding: 0 0 0 12px;
}

#contact_form {
	color: #000000;	
}

#contact_form label {
	color: #ffffff;
	text-shadow: 2px 2px #000000;
 	font-size: 18px;	

}

#contact_form textarea {
	background: #9a9b9b;
	border-radius: 5px;
	border-width: 2px;
	border-color: #ffffff;
	font-family: 'iowan', serif;
	resize: none;
}

input[type=text] {
	background: #9a9b9b;
	border-radius: 5px;
	border-width: 2px;
	border-color: #ffffff;
	font-family: 'iowan', serif;
}

input[type=button] {
    width: 120px;
	height: 35px;
    margin-left: 35px;
    display: block;
	margin: 0 0 0 240px;
	color: #ffffff;
	background: #002855;
	border-radius: 5px;
}

 input[type="button"]:hover {
    border: 2px solid #999;color:#EAAA00;
}
	



