@import 'variables';
 
/*********************************************************************
    480px or less
**********************************************************************/
html, body, form, nav, ul, div {
    display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Helvetica Neue", "Helvetica","Roboto", Arial, sans-serif;
}
.collection-header {
	background: url('../images/collectionbg.jpg') center center no-repeat;
	background-size: cover;
	margin-bottom: 40px;
	.collection-header-title {
		text-align: center;
		display: block;
		float: left;
		width: 100%;
		font-size: 24px;
		a {
			color: #fff;
			text-shadow: 1px 4px 10px rgba(0,0,0,0.5);
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.navbar-right {
		margin-right: 0;
		float: left;
		width: 100%;
		a {
			color: #fff;
			&:hover {
				color: $primary-blue;
			}
		}
	}
}
#content, #documents {
	text-align: left;
}
.sticky-header {
	background: #edecec;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 3;
	width:100%;
	box-sizing: content-box;
	box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.5);
	.sticky-header-nav {
		ul {
			transition: all 0.2s ease;
			list-style-type: none;
			li {
				display: inline-block;
				float: left;
				margin: 0 40px 0 0;
				a {
					font-size: 18px;
					padding: 4px 0 5px 0;
					display: block;
					color: #fff;
					margin: 0px;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			li:last-child {
				margin-right: 0;
			}			
		}
	}	
	.sticky-header-search {
		.search-query-form {
			transition: all 0.2s ease;
			max-width: 90%;
			.wvrhc-searchfield {
				border: none;
				width: 65%;
				height: 35px;
				padding: 0 5%;
				margin: 0;
				float: left;
				display: inline-block;				
			}
			.wvrhc-searchbutton {
				border: medium none;
				width: 25%;
				height: 35px;
				padding: 0;
				margin: 0;
				float: left;
				display: inline-block;
				color: $sticky;
				@include mq(tablet) {
					background: $sticky;
					color: #fff;
				}
			}
		}
		.navbar-form {
			margin: 0;
			width: 100%;
			float: right;
			#search_field {
				width: 35%;
				float: left;
				height: 35px;
			}
			.sr-only {
				display: none;
			}
			.input-group {
				display: inline-block;
				float: left;
				width: 65%;
				height: 35px;
				#q {
					width: 50%;
					display: inline-block;
					float: left;
					height: 35px;
				}
				.input-group-btn {
					width: 50%;
					display: inline-block;
					float: left;
					height: 35px;
					.search-btn {
						background: $primary-blue;
					}
					#search {
						display: inline-block;
						float: left;	
						width: 100%;			
						height: 35px;
					}
				}
			}
		}
	}
	.sticky-header-filter {
		.sticky-header-filter-sidebar {
			transition: all 0.2s ease;
			#facets {
				padding-bottom: 20px;
				.top-panel-heading {
					display: none;
				}
				#facet-panel-collapse {
					margin-bottom: 0;
					.panel {
						.panel-collapse {
							.panel-body {
								.facet-values {
									li {
										line-height: 150%;
										.facet_select {
											height: auto;
											margin: 0;
										}
										.facet-label {
											.remove {
												display: inline-block;
											}
										}
									}
								}
							}
						}
						.panel-heading {
							h5 {
								a {
									height: auto;
									margin: 0;
									display: inline-block;
								}
							}
						}
					}
				}
			}
			ul {
				list-style-type: none;
				display: block;
				width: 90%;
				li {
					display: block;
					float: left;
					margin: 0 0 20px 0;
					text-align: left;
					height: auto;
					width: 100%;
					a {
						font-size: 18px;
						display: block;
						color: #fff;
						margin: 0px;
						text-decoration: none;
						height: auto;
						&:hover {
							text-decoration: underline;
						}
					}
				}		
			}
		}
	}
	.sticky-header a {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		display: block;
	}
	img {
		width: auto;
		height: 100%;
		max-width: 320px;
	}
	.tabBar {
		width: 25%;
		float: left;
		height: 55px;
		a {
			display: block;
			height: 35px;
			margin: 10px 0px;
		}
	}
}

/* Toggles */

.tabbarToggle {
	position: absolute;
	bottom: 55px;
	background: #337AB7;
	width: 100%;
	margin: 0;
	left: 0;
	padding: 5%;
	margin-left: 0;
	border-top: 2px solid lighten( #337AB7, 15% );
	height: auto;
	overflow: hidden;
	display: inline-block;
}
.tabbarToggle2 {
	bottom: 55px;
	position: fixed;
	background: #337AB7;
	width: 100%;
	margin: 0;
	left: 0;
	padding: 5%;
	margin-left: 0;
	overflow-y: scroll;
	display: inline-block;
	border-top: 2px solid lighten( #337AB7, 15% );
}
.tabbarToggleSearch {
	height: auto;
	padding: 5%;
}
.tbwrap {
    width: 100%;
    margin: 0px auto;
    display: block;
    height: auto;
}
.tabbarBlue {
	background: #337AB7;
}
#menu-toggle2, #search-toggle2 {
}
.hiding {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow: hidden;
}
.destroy {
	display: none; /* Only used for mobile/n on-accessibility issues */
}
#main-container .row #sidebar {
	display: none;
}


/*********************************************************************
	768px to 1024px
**********************************************************************/
@media screen and (min-width: 768px) {
	.tabbarToggleSearch {
		height: auto;
		padding: 0;
	}
	#main-container .row #sidebar {
		display: block;
	}
	.tabbarBlue {
		background: none;
	}
	.tbwrap {
	    width: 90%;
	}
	.collection-header {
		margin-bottom: 0;
		.collection-header-title {
			display: inline-block;
			float: left;
			margin-left: 60px;
			width: auto;
			padding: 40px 0;
			font-size: 36px;
		}
		.navbar-right {
			float: right;
			width: auto;
			padding-top: 60px;
		}
	}
	.sticky-header {
		height: 35px;
		position: relative;
		bottom: 0;
		left: 0;
		z-index: 3;
		border-top: none;
		border-bottom: 1px solid #d3d3d3;
		box-shadow: none;
		margin-bottom: 40px;
		padding: 10px 0;
		.tabBar {
			a {
				margin: 0;
			}
		}
		.sticky-header-top {
			display: none;
		}
		.sticky-header-filter {
			display: none;
		}
		.sticky-header-nav {
			width: 75%;
			background: none;
			.tabbarToggle {
				padding: 0;
			}
			ul {
				list-style-type: none;
				margin-left: 60px;
				background: none;
				position: relative;
				border-top: none;
				bottom: 0;
				li {
					display: inline-block;
					float: left;
					margin: 0 40px 0 0;
					a {
						font-size: 18px;
						padding: 4px 0 5px 0;
						display: block;
						color: #337AB7;
					}
				}
				li:last-child {
					margin-right: 0;
				}
			}
			#menu-toggle {
				display: none;
			}
		}
		.sticky-header-search {
			width: 25%;
			.search-query-form {
				background: none;
				position: relative;
				border-top: none;
				bottom: 0;
				max-width: 640px;
			}			
			#search-toggle {
				display: none;
			}
			.navbar-form {
				display: block;
				height: 35px;
				padding: 0;
			}
		}
	}
}

/*********************************************************************
	1024px and up
**********************************************************************/
@media screen and (min-width: 1024px) {
}
